  <!-- Navigation-->
  <!--<div class="container d-flex align-items-center justify-content-between">-->
    <nav class="navbar navbar-expand-lg ">
      <div> </div>

      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand"  routerLink="">FinanApp</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--<li class="nav-item">
              <a class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page" >Home</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="dolarcotizacion">Dolar</a>
            </li>
            <!-- Cripto menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Cripto</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Price</a></li>
                <li><a class="dropdown-item" href="#">List Coins</a></li>
                <!--
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
                -->
              </ul>
            </li>
            <!-- -->

            <li class="nav-item">
              <a class="nav-link " routerLink="evolution" aria-disabled="true" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dolar Evolution </a>
            </li>
          </ul>
          <!--<form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>-->
        </div>
      </div>
    </nav>

