.nav2 {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .25);

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  order: 3px solid transparent;
	background-clip: padding-box;

	color: #f1f3f3;
	background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);
}
