<div class="container">
<h1>Cotizaciones de dolar</h1>
<div class="container" *ngIf="apiDolar$ | async  as apiDolar; else loading">
  <p> Última Actualización: {{apiDolar[0].fechaActualizacion | date: 'd/M/yy, h:mm a' }}</p>
  <br>
  <div *ngFor="let dolar of apiDolar">
    <div class="card nav2" *ngIf="dolar.casa != 'cripto'">
      <h5>Dolar {{dolar.casa | uppercase}} - {{dolar.moneda | uppercase}}</h5>
      <hr>
      <div><p>Compra $ {{dolar.compra}}</p></div>
      <div><p>Venta $ {{dolar.venta}}</p></div>
    </div>
    <br>
  </div>
</div>
<ng-template #loading> Loading... </ng-template>
</div>
